version: "3.8"

services:

  web-server:
    container_name: nginx

    image: nginx:latest

    restart: always

    environment:
      TZ: "Asia/Seoul"

    volumes:
      - ./config/nginx.prod.conf:/etc/nginx/nginx.conf

    ports:
      - 80:80

    networks:
      - aid

  server:

    container_name: FastapiApp

    image: bshlab671/aid_web:latest

    depends_on:
      - db

    restart: always

    expose:
      - 8000

    environment:
      TZ: "Asia/Seoul"

    networks:
      - aid

  db:

    container_name: db

    image: mongo:latest

    restart: always

    volumes:
      - data-vol:/data/db

    expose:
      - 27017

    ports:
      - 27017:27017

    environment:
      - MONGO_INITDB_ROOT_USERNAME=***
      - MONGO_INITDB_ROOT_PASSWORD=***

    networks:
      - aid

networks:
  aid:
    driver: bridge

volumes:
  data-vol:
    driver: local
