[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pymongo = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}
orjson = "*"
pytest-order = "*"

[dev-packages]
pre-commit = "*"
httpx = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
