{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: whitesmoke;
    }

    button {
        margin: 20px;
    }

    .w-btn {
        position: relative;
        border: none;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn-outline {
        position: relative;
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn:hover {
        letter-spacing: 2px;
        transform: scale(1.2);
        cursor: pointer;
    }

    .w-btn-outline:hover {
        letter-spacing: 2px;
        transform: scale(1.2);
        cursor: pointer;
    }

    .w-btn:active {
        transform: scale(1.5);
    }

    .w-btn-outline:active {
        transform: scale(1.5);
    }

    .w-btn-gra1 {
        background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
        color: white;
    }

    .w-btn-gra-anim {
        background-size: 400% 400%;
        animation: gradient1 5s ease infinite;
    }

    @keyframes gradient1 {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>


{% endblock head %}


{% block content %}
{% include 'nav.html' %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    {% if msg == "success" %}
    <div class="alert alert-info" role="alert">
        제출이 성공적으로 완료되었습니다
    </div>
    {% elif msg == "fail" %}
    <div class="alert alert-danger" role="alert">
        제출에 실패했습니다
    </div>
    {% endif %}
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 mb-5 bg-body-tertiary rounded" style="height: 30vh; width: 30vw">
        <div class="d-flex fs-2">
            <p class="fw-bold">AID</p>eveloper
        </div>
        <button class="w-btn w-btn-gra1 w-btn-gra-anim" onclick="location.href='/submit'">
            지원하기
        </button>

    </div>
</div>
{% endblock content %}
