{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock head %}


{% block content %}
{% include 'nav.html' %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    {% if msg == "success" %}
    <div class="alert alert-info" role="alert">
        제출이 성공적으로 완료되었습니다
    </div>
    {% endif %}
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 mb-5 bg-body-tertiary rounded" style="height: 30vh; width: 30vw">
        <div class="d-flex fs-2">
            <p class="fw-bold">AID</p>eveloper
        </div>
        <div>
            <a class="btn btn-primary" href="/submit" role="button">지원하기</a>
        </div>
    </div>
</div>
{% endblock content %}
