{% extends 'base.html' %}

{% block head %}
<title>이메일 전송창</title>
<style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      width: 800px;
      padding: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 10px;
      display: block;
    }

    textarea {
      width: 100%;
      resize: vertical;
      height: 200px;
    }

    .w-btn-rainbow {
      background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
      color: white;
    }
    .w-btn {
      position: relative;
      border: none;
      display: inline-block;
      padding: 15px 30px;
      border-radius: 15px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-weight: 600;
      transition: 0.25s;
      z-index: 1;
    }

    .w-btn-outline {
      position: relative;
      padding: 15px 30px;
      border-radius: 15px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-weight: 600;
      transition: 0.25s;
    }

    .w-btn:hover {
      letter-spacing: 2px;
      transform: scale(1.2);
      cursor: pointer;
    }

    .w-btn-outline:hover {
      letter-spacing: 2px;
      transform: scale(1.2);
      cursor: pointer;
    }

    .w-btn:active {
      transform: scale(1.5);
    }

    .w-btn-outline:active {
      transform: scale(1.5);
    }
    .w-btn-gra-anim {
      background-size: 400% 400%;
      animation: gradient1 5s ease infinite;
    }

    @keyframes gradient1 {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
    }
</style>
{% endblock head %}

{% block content %}
{% include 'nav.html' %}
<body>
  <form action="/sender/send_email" method="post">
    <h2 style="color:black; text-align: center;">🐥이메일 전송🐥</h2>

    <label>합격/불합격 선택:</label>
    <label><input type="radio" name="status" value="true"> 합격🐔</label>
    <label><input type="radio" name="status" value="false"> 불합격🍗</label>

    <label>제목:</label>
    <input type="text" name="subject" placeholder="이메일 제목을 입력하세요...">
    <label for="message">내용:</label>
    <textarea id="message" name="message" placeholder="이메일 내용을 입력하세요..." rows="8"></textarea>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
      <button class="w-btn w-btn-rainbow w-btn-gra-anim" style="width: 80%;" type="submit">전송하기</button>
    </div>
  </form>
</body>
{% endblock content %}
