{% extends 'base.html' %}

{% block head %}
<title>Submit Page</title>
<style>
    button {
        margin: 3px;
    }

    .w-btn {
        position: relative;
        border: none;
        display: inline-block;
        padding: 10px 40px; /* Increase horizontal padding for wider button */
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn-outline {
        position: relative;
        padding: 10px 40px; /* Increase horizontal padding for wider button */
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn:hover {
        letter-spacing: 2px;
        transform: scale(1.2);
        cursor: pointer;
    }

    .w-btn-outline:hover {
        letter-spacing: 2px;
        transform: scale(1.2);
        cursor: pointer;
    }

    .w-btn:active {
        transform: scale(1.5);
    }

    .w-btn-outline:active {
        transform: scale(1.5);
    }

    .w-btn-gra1 {
        background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
        color: white;
    }

    .w-btn-gra-anim {
        background-size: 400% 400%;
        animation: gradient1 5s ease infinite;
    }

    @keyframes gradient1 {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .form-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form-group textarea {
        resize: vertical;
    }

    .submit-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
function enterAction() {
}
</script>
{% endblock head %}

{% block content %}
{% include 'nav.html' %}


<div class="form-container">
    <h2 style="color:black; text-align:center; margin: 20px;">동아리 지원서</h2>
    <form
        method="post"
        action="/submit"
        onkeydown="enterAction()">


        <div class="form-group">
            <label for="exampleFormControlInput1">이름</label>
            <input type="text" class="form-control" name="username" value="{{username}}" id="exampleFormControlInput1" placeholder="홍길동" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">이메일</label>
            <input type="email" class="form-control" name="email" value="{{email}}" id="exampleFormControlInput1" placeholder="test@naver.com" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">학번(9자리)</label>
            <input type="text" class="form-control" name="student_id" value="{{student_id}}" id="exampleFormControlInput1" placeholder="202012345" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Python Skill</label>
            <select class="form-control" name="python_skill" value="{{python_skill}}" id="exampleFormControlSelect1">
                <option>상(파이썬 작동원리를 이해하고 있으며, 파이썬 관련 프로젝트 경험이 있음)</option>
                <option>중(공식 reference를 참고해 프로그램 제작이 가능)</option>
                <option>하(파이썬 코드를 보고 대략적인 흐름 이해 가능)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">지원 분야</label>
            <select class="form-control" name="field" value="{{field}}" id="exampleFormControlSelect1">
                <option>기초</option>
                <option>CV(컴퓨터 비전)</option>
                <option>NLP(자연어)</option>
                <option>RecSys(추천 시스템)</option>
                <option>오디오 처리</option>
                <option>시계열 처리</option>
                <option>강화학습</option>
                <option>MLops</option>
                <option>경량화</option>
                <option>백엔드(FastAPI)</option>
                <option>프론트엔드(React)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">동아리 지원 계기(공백 포함 500자 이내)</label>
            <textarea class="form-control" name="motivation" value="{{motivation}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">AI 관련 수강 과목(학교 수업이 아니어도 기재해주세요)</label>
            <textarea class="form-control" name="ai_subject" value="{{ai_subject}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">본인이 하고 싶은 스터디 혹은 프로젝트</label>
            <textarea class="form-control" name="want_to_do" value="{{want_to_do}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">본인의 진로</label>
            <textarea class="form-control" name="course" value="{{course}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">프로젝트 경험</label>
            <textarea class="form-control" name="project_exp" value="{{proejct_exp}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Github 주소</label>
            <input type="text" class="form-control" name="github" value="{{github}}" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Blog 주소(Tech Blog)</label>
            <input type="text" class="form-control" name="blog" value="{{blog}}" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="submit-btn-container">
            <button type="submit" class="w-btn w-btn-gra1 w-btn-gra-anim">제출하기</button>
        </div>
    </form>
</div>
{% endblock content %}
