name: CI/CD

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

    - uses: actions/checkout@v3


    - name: Make ENV

      env:
        mongo_user: ${{secrets.mongo_user}}
        mongo_password: ${{secrets.mongo_password}}
        mongo_host: ${{secrets.mongo_host}}
        mongo_port: ${{secrets.mongo_port}}

      run: |
        mkdir ./app/env
        echo "MONGO_INITDB_ROOT_USERNAME=$mongo_user" >> ./app/env/.db.env
        echo "MONGO_INITDB_ROOT_PASSWORD=$mongo_password" >> ./app/env/.db.env

        echo "mongo_user=$mongo_user" >> ./app/env/.server.env
        echo "mongo_password=$mongo_password" >> ./app/env/.server.env
        echo "mongo_host=$mongo_host" >> ./app/env/.server.env
        echo "mongo_port=$mongo_port" >> ./app/env/.server.env


    # - name: Docker Metadata action
    #   uses: docker/metadata-action@v4.4.0
    #   id: meta
    #   with:
    #     images: bshlab671/aid_web
    #     tags: |
    #       type=ref,event=branch
    #       type=ref,event=pr
    #       type=semver,pattern={{version}}
    #       type=semver,pattern={{major}}.{{minor}}


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2


    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_ID }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile.prod
        push: true
        tags: bshlab671/aid_web:latest

    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.AWS_HOST }}
        username: ${{ secrets.AWS_USERNAME }}
        key: ${{ secrets.AWS_KEY }}

        script: |
          sudo docker compose down
          sudo docker rmi ${{ secrets.DOCKERHUB_ID }}/aid_web
          sudo docker pull ${{ secrets.DOCKERHUB_ID }}/aid_web
          sudo docker compose up -d
