name: CI/CD

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

    - uses: actions/checkout@v3


    - name: Make ENV

      env:
        mongo_user: ${{secrets.mongo_user}}
        mongo_password: ${{secrets.mongo_password}}
        mongo_host: ${{secrets.mongo_host}}
        mongo_port: ${{secrets.mongo_port}}

      run: |
        mkdir env
        echo "MONGO_INITDB_ROOT_USERNAME=$mongo_user" >> ./env/.db.env
        echo "MONGO_INITDB_ROOT_PASSWORD=$mongo_password" >> ./env/.db.env

        echo "mongo_user=$mongo_user" >> ./env/.server.env
        echo "mongo_password=$mongo_password" >> ./env/.server.env
        echo "mongo_host=$mongo_host" >> ./env/.server.env
        echo "mongo_port=$mongo_port" >> ./env/.server.env


    - name: Docker Metadata action
      # You may pin to the exact commit or the version.
      # uses: docker/metadata-action@c4ee3adeed93b1fa6a762f209fb01608c1a22f1e
      uses: docker/metadata-action@v4.4.0
      id: meta
      with:
        images: bshlab671/aid_web
        tags: |
          type=sha


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2


    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_ID }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
